{% extends 'user/base.html' %}
{% load static %}
{% block main %}


<div class="home-blog-area blog-h-padding">
      <div class="container">
        <!-- Section Tittle -->
        <div class="row">
          <div class="col-lg-12">
            <div class="section-tittle text-center">
              {% comment %} <span>Our services</span> {% endcomment %}
              <h2>Our services</h2>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="home-blog-single mb-30">
              <div class="blog-img-cap">
                <div class="blog-img">
                  <img
                    class='img'
                    src="{% static 'images/visa.jpg' %}"
                    alt=""
                  />
                  <!-- Blog date -->
                  
                </div>
                <div class="blog-cap">
                  {% comment %} <p>| Placement</p> {% endcomment %}
                  <h4>Visa consultancy</h4>
                  {% comment %} <a href="#" class="more-btn">Read more »</a> {% endcomment %}
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="home-blog-single mb-30">
              <div class="blog-img-cap">
                <div class="blog-img">
                  <img
                    class='img'
                    src="{% static 'images/overseas placements.jpg' %}"
                    alt=""
                  />
                  <!-- Blog date -->
            
                </div>
                <div class="blog-cap">
                  <h4>Overseas placements</h4>
                  {% comment %} <a href="#" class="more-btn">Read more »</a> {% endcomment %}
  
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="home-blog-single mb-30">
              <div class="blog-img-cap">
                <div class="blog-img">
                  <img
                    src="{% static 'images/passport_and_immigration.avif' %}"
                    alt=""
                  />
                  <!-- Blog date -->
            
                </div>
                <div class="blog-cap">
                  <h4>Passport and Immigration</h4>
                  {% comment %} <a href="#" class="more-btn">Read more »</a> {% endcomment %}
  
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="home-blog-single mb-30">
                <div class="blog-img-cap">
                  <div class="blog-img">
                        <img
                        src="{% static 'images/international and domestic air ticketing.jpg' %}"
                        alt=""
                      />
                    <!-- Blog date -->
              
                  </div>
                  <div class="blog-cap">
                        <h4>International and Domestic air Ticketing</h4>
                        {% comment %} <a href="#" class="more-btn">Read more »</a> {% endcomment %}
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="home-blog-single mb-30">
                <div class="blog-img-cap">
                  <div class="blog-img">
                        <img
                        src="{% static 'images/hajj.png' %}"
                        alt=""
                      />
                    <!-- Blog date -->
                
                  </div>
                  <div class="blog-cap">
                        <h4>Hajj and Umrah</h4>
                        {% comment %} <a href="#" class="more-btn">Read more »</a> {% endcomment %}
    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="home-blog-single mb-30">
                <div class="blog-img-cap">
                  <div class="blog-img">
                        <img
                        src="{% static 'images/tour package.jpg' %}"
                        alt=""
                      />
                    <!-- Blog date -->
                
                  </div>
                  <div class="blog-cap">
                        <h4>Tour packages</h4>
                        {% comment %} <a href="#" class="more-btn">Read more »</a> {% endcomment %}
    
                  </div>
                </div>
              </div>
            </div>
          </div>




          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="home-blog-single mb-30">
                <div class="blog-img-cap">
                  <div class="blog-img">
                        <img
                        src="{% static 'images/hotel booking.jpg' %}"
                        alt=""
                      />
                    <!-- Blog date -->
                 
                  </div>
                  <div class="blog-cap">
                        <h4>Hotel booking</h4>
                        {% comment %} <a href="#" class="more-btn">Read more »</a> {% endcomment %}
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="home-blog-single mb-30">
                <div class="blog-img-cap">
                  <div class="blog-img">
                        <img
                        src="{% static 'images/Car-Rental.png' %}"
                        alt=""
                      />
                    <!-- Blog date -->
                  
                  </div>
                  <div class="blog-cap">
                        <h4>Car rentals</h4>
                        {% comment %} <a href="#" class="more-btn">Read more »</a> {% endcomment %}
    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="home-blog-single mb-30">
                <div class="blog-img-cap">
                  <div class="blog-img">
                        <img
                        src="{% static 'images/forex.jpg' %}"
                        alt=""
                      />
                    <!-- Blog date -->
                   
                  </div>
                  <div class="blog-cap">
                        <h4>Forex</h4>
                        {% comment %} <a href="#" class="more-btn">Read more »</a> {% endcomment %}
    
                  </div>
                </div>
              </div>
            </div>
          </div>





          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="home-blog-single mb-30">
                <div class="blog-img-cap">
                  <div class="blog-img">
                        <img
                        src="{% static 'images/visa.jpg' %}"
                        alt=""
                      />
                    <!-- Blog date -->
                  
                  </div>
                  <div class="blog-cap">
                        <h4>Visa consultancy</h4>
                        {% comment %} <a href="#" class="more-btn">Read more »</a> {% endcomment %}
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="home-blog-single mb-30">
                <div class="blog-img-cap">
                  <div class="blog-img">
                        <img
                        src="{% static 'images/visa.jpg' %}"
                        alt=""
                      />
                    <!-- Blog date -->
                    
                  </div>
                  <div class="blog-cap">
                        <h4>Visa consultancy</h4>
                        {% comment %} <a href="#" class="more-btn">Read more »</a> {% endcomment %}
    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="home-blog-single mb-30">
                <div class="blog-img-cap">
                  <div class="blog-img">
                        <img
                        src="{% static 'images/visa.jpg' %}"
                        alt=""
                      />
                    <!-- Blog date -->
                  
                  </div>
                  <div class="blog-cap">
                        <h4>Visa consultancy</h4>
                        {% comment %} <a href="#" class="more-btn">Read more »</a> {% endcomment %}
    
                  </div>
                </div>
              </div>
            </div>
          </div>




          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="home-blog-single mb-30">
                <div class="blog-img-cap">
                  <div class="blog-img">
                        <img
                        src="{% static 'images/visa.jpg' %}"
                        alt=""
                      />
                    <!-- Blog date -->
                
                  </div>
                  <div class="blog-cap">
                        <h4>Visa consultancy</h4>
                        {% comment %} <a href="#" class="more-btn">Read more »</a> {% endcomment %}
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="home-blog-single mb-30">
                <div class="blog-img-cap">
                  <div class="blog-img">
                        <img
                        src="{% static 'images/visa.jpg' %}"
                        alt=""
                      />
                    <!-- Blog date -->
                    
                  </div>
                  <div class="blog-cap">
                        <h4>Visa consultancy</h4>
                        {% comment %} <a href="#" class="more-btn">Read more »</a> {% endcomment %}
    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="home-blog-single mb-30">
                <div class="blog-img-cap">
                  <div class="blog-img">
                        <img
                        src="{% static 'images/visa.jpg' %}"
                        alt=""
                      />
                    <!-- Blog date -->
                  
                  </div>
                  <div class="blog-cap">
                        <h4>Visa consultancy</h4>
                        {% comment %} <a href="#" class="more-btn">Read more »</a> {% endcomment %}
    
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="home-blog-single mb-30">
                <div class="blog-img-cap">
                  <div class="blog-img">
                        <img
                        src="{% static 'images/visa.jpg' %}"
                        alt=""
                      />
                    <!-- Blog date -->
                   
                  </div>
                  <div class="blog-cap">
                        <h4>Visa consultancy</h4>
                        {% comment %} <a href="#" class="more-btn">Read more »</a> {% endcomment %}
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="home-blog-single mb-30">
                <div class="blog-img-cap">
                  <div class="blog-img">
                        <img
                        src="{% static 'images/visa.jpg' %}"
                        alt=""
                      />
                    <!-- Blog date -->
                   
                  </div>
                  <div class="blog-cap">
                        <h4>Visa consultancy</h4>
                        {% comment %} <a href="#" class="more-btn">Read more »</a> {% endcomment %}
    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
              <div class="home-blog-single mb-30">
                <div class="blog-img-cap">
                  <div class="blog-img">
                        <img
                        src="{% static 'images/visa.jpg' %}"
                        alt=""
                      />
                    <!-- Blog date -->
                   
                  </div>
                  <div class="blog-cap">
                        <h4>Visa consultancy</h4>
                        {% comment %} <a href="#" class="more-btn">Read more »</a> {% endcomment %}
    
                  </div>
                </div>
              </div>
            </div>
          </div>



      </div>
    </div>

{% endblock %}